{% extends 'game/base.html' %}

{% block content %}
  <form action="{% url 'game:attribute' player.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ player.name }} : {{ player.get_total_point }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <label for="pointInput">Nombre de points</label>
        <input type="number" name="point" id="pointInput" required>
        <label for="dateInput">Date de l'ajout</label>
        <input type="datetime-local" name="date" id="dateInput">
      <input type="submit" value="Add">
    </fieldset>
  </form>
  <form action="{% url 'game:delete' player.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete Player">
  </form>
{% endblock %}