{% extends 'game/base.html' %}

{% block content %}
  {% if player_list %}
  <ul>
  {% for player in player_list %}
      <li><a href="{% url 'game:detail' player.id %}">{{ player.name }} : {{ player.get_total_point }} ({{ player.id }})</a></li>
  {% endfor %}
  </ul>
  {% else %}
      <p>No player are available.</p>
  {% endif %}

  <form action="{% url 'game:create_player' %}" method="post">
    {% csrf_token %}
    <p>
      {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    </p>
    <p>
      <label for="nameInput">Nom de l'utilisateur</label>
      <input type="text" name="nom" id="nameInput" required>
    </p>
    <p>
      <input type="submit" value="Ajouter un nouvel utilisateur">
    </p>
  </form>
{% endblock %}