<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    {% if user %}
    <h1>{{ user.name }} : {{ user.get_total_point }}</h1>
    <ul>
    {% for action in user.action_set.all %}
        <!-- <li><a href="{% url 'game:detail' user.id %}">{{ user.name }}</a></li> -->
        <li>{{ action.point }}</li>
    {% endfor %}
    </ul>
    <a href="{% url 'game:detail' user.id %}">Ajouter une nouvelle action</a>
    <a href="{% url 'game:index' %}">Menu</a>
    {% else %}
        <p>L'utilisateur n'a pas été trouvé</p>
        <a href="{% url 'game:detail' user.id %}">Retour</a>
    {% endif %}
  </body>
</html>