{% extends 'game/base.html' %}

{% block content %}

    {% if user.is_authenticated %}

        <h1>Ajouter une action</h1>
        <br/>

        <form action="" method=POST enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="Envoyer" class="btn btn-primary">

        </form>
    
    {% else %}
        <h1>Vous devez être connecté pour ajouter une action</h1>
        <a href="{% url 'login' %}" class="btn btn-success">Se Connecter</a>
    {% endif %}

{% endblock %}