{% extends 'game/base.html' %}

{% block content %}
  <legend><h1>{{ player.user.username }} : {{ player.get_total_point }}</h1></legend>
  <div class="row">
    <div class="col col-12 col-sm-12 col-md-6 col-lg-3">
      <!-- Partie paramètre du joueur -->
      <div class="rounded border border-3 align-middle">
        {% if player.photo %}
          <img class="img-fluid" src="{{ player.photo.url }}" style="width: 100%; max-width: 300px;">
        {% endif %}

        {% if player.description %}
        <div>
          {{player.description}}
        </div>
        {% endif %}
      </div>
      {% if player.user.id == user.id %}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modifyModal">
          Modifier les informations
        </button>
      {% endif %}
    </div>
    <div class="col col-12 col-sm-12 col-md-6 col-lg-9">
      <!-- Partie tableau des actions -->
      
      <table class="table">
        <thead>
            <tr>
              <th scope="col">Point</th>
              <th scope="col">Date</th>
              <th scope="col">description</th>
            </tr>
        </thead>
        <tbody>
          {% for action in player.action_set.all %}
            <tr>
              <th scope="row">{{action.point}}</th>
              <td>{{action.act_date}}</td>
              <td>{{action.description}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>

  <!-- Graphique -->
  <div> 
    <div id="individual_chart"></div>
  </div>
  

  <!-- Modal -->
  <div class="modal fade" id="modifyModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modifyModalLabel">{{ player.user.username }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-body">
            {{ register_form.as_p }}
            <div>
              <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapsepwd" aria-expanded="false" aria-controls="collapsepwd">Changer le mot de passe</button>
              <div class="collapse" id="collapsepwd">
                  Demande à Guillaume pour te changer ton mot de passe :)
              </div>
            </div>
            <br/>
            {{ player_form.as_p }}
          </div>
  
          <br/>
          <div class="modal-footer">
            <input type="submit" value="Register" class="btn btn-primary">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <!-- JS Graphique -->
  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <script>
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawChart);

    var playerdata = JSON.parse("{{player_json|escapejs}}");

    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('date', 'Date');
      data.addColumn('number', 'Points');

      for (var action in playerdata["actions"]){
        data.addRow([new Date(playerdata["actions"][action].date_action), playerdata["actions"][action].tot_score - playerdata["actions"][action].score]);
        data.addRow([new Date(playerdata["actions"][action].date_action), playerdata["actions"][action].tot_score]);
      }

      var options = {
        hAxis: {
          title: 'Moment de la soirée',
          minValue: new Date(playerdata["creation_date"])
        },
        vAxis: {
          title: 'Score'
        },
        legend: 'none',
        lineWidth: 5,
        colors: ["#e72433"]
      };

      var chart = new google.visualization.LineChart(document.getElementById('individual_chart'));

      chart.draw(data, options);
    }

  </script>
{% endblock %}