{% extends 'game/base.html' %}

{% block content %}
  <legend><h1>{{ player.user.username }} : {{ player.get_total_point }}</h1></legend>
  <div class="row">
    <div class="col mb-4 col-12 col-sm-6 col-md-4 col-lg-3">
      <!-- Partie paramètre du joueur -->
      <div class="rounded border border-3 align-middle">
        {% if modify %}
          <a class="btn btn-primary" href="{% url 'game:detail' player.id %}">Modifier</a>
        {% else %}
          <a class="btn btn-primary" href="{% url 'game:detail' player.id %}?modify">Modifier</a>
        {% endif %}
        {% if player.photo %}
          <img class="img-fluid" src="{{ player.photo.url }}" style="width: 100%; max-width: 300px;">
          {% if modify == True %}
          <div class="input-group mb-3">
            <input type="file" class="form-control" accept="image/*">
          </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="col mb-4 col-12 col-sm-6 col-md-8 col-lg-9">
      <!-- Partie tableau des actions -->
      <div class="rounded border border-3">
        <br>
      </div>
    </div>
  </div>


  <!-- <form action="{% url 'game:attribute' player.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ player.user.username }} : {{ player.get_total_point }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <label for="pointInput">Nombre de points</label>
        <input type="number" name="point" id="pointInput" required>
        <label for="dateInput">Date de l'ajout</label>
        <input type="datetime-local" name="date" id="dateInput">
      <input type="submit" value="Add">
    </fieldset>
  </form>
  <h1>Description : {{ player.description }}</h1>
  {% if player.photo %}
  <img class="profile-pic" src="{{ player.photo.url }}" style="width: 100%; max-width: 300px;">
  {% endif %}
  <form action="{% url 'game:delete' player.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete Player">
  </form> -->
{% endblock %}