{% extends 'game/base.html' %}

{% block content %}

<ul class="list-group">
    <li class="list-group-item border border-dark">
        <b>Vomi</b>
        <hr/>
        <small>+20 pour le permier <br/> +5 pour les autres <br/> -20 si hors des toilettes</small>
    </li>
    <li class="list-group-item border border-dark">
        <b>Georgette</b>
        <hr/>
        <small>+3 par georgette</small>
    </li>
    <li class="list-group-item border border-dark">
        <b>Golfeur</b>
        <hr/>
        <small>+2 par golfeur</small>
    </li>
    <li class="list-group-item border border-dark">
        <b>Pénalité</b>
        <hr/>
        <small>+1 par seconde au-dessus de 10 sec (en dehors des défis)</small>
    </li>
    <li class="list-group-item border border-dark">
        <b>Casse de la vaisselle</b>
        <hr/>
        <small>On te casse la bouche <br/> et -8 btw</small>
    </li>
    <li class="list-group-item border border-dark">
        <b>Casser un glaçon avec son crâne</b>
        <hr/>
        <small>+10 par glaçon</small>
    </li>
    <li class="list-group-item border border-dark">
        <b>Dodo avant 00h</b>
        <hr/>
        <small>+50 <br/> Les sièstes de 5 min ne comptent pas bande de chacaux</small>
    </li>
    <li class="list-group-item border border-dark">
        <b>Passer sa nuit sur le sol</b>
        <hr/>
        <small>+15</small>
    </li>
    <li class="list-group-item border border-dark">
        <b>Nuit blanche</b>
        <hr/>
        <small>+15</small>
    </li>
    <li class="list-group-item border border-dark">
        <b>Renverser son verre</b>
        <hr/>
        <small>-3</small>
    </li>
    <li class="list-group-item border border-dark">
        <b>Rasputin de Dongi</b>
        <hr/>
        <small>+1 à tout le monde</small>
    </li>
    <li class="list-group-item border border-dark">
        <b>Participation au gang de la savane</b>
        <hr/>
        <small>+1</small>
    </li>
</ul>

{% endblock %}