{% extends 'game/base.html' %}

{% block content %}

<div class="d-inline-block">
  <h1>Les mises</h1>
</div>

<div class="d-inline-block">
  {% if user.is_authenticated %}
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createMiseModal">
      Créer une mise
    </button>
  {% endif %}
</div>

<div class="list-group">
  <!-- Boucle sur toutes les mises -->
  {% for mise in mise_list %}
    <a href="{% url 'game:mise_detail' mise.id %}" class="list-group-item list-group-item-action" id="listIem{{mise.id}}">
      <h4 style="text-align:left;float:left;">{{ mise.nom }}</h4>
      {% if mise.fini %}
        <div style="text-align:right;float:right;color:darkred;"> Fini </div>
      {% else %}
        <div style="text-align:right;float:right;color:darkgreen"> En cours </div>
      {% endif %}
      <hr style="clear:both;"/>

      <small>Créée par {{ mise.creator }} à {{ mise.date_creation|date:"H:i" }}</small>
    </a>
  {% endfor %}
</div> 


<!-- Modal -->
<div class="modal fade" id="createMiseModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createMiseModalLabel">{{ user.username }} : Création d'une mise</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <label for="miseNom">Nom de la mise</label>
            <input type="text" class="form-control" required="required" id="miseNom" name="miseNom" placeholder="Nom de la mise">
          </div>
        </div>

        <br/>
        <div class="modal-footer">
          <input type="submit" value="Créer" class="btn btn-primary">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        </div>
      </form>      
    </div>
  </div>
</div>



{% endblock %}